.app-movie-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
    cursor: pointer;
  
  }
  .app-movie-card:hover {
border-color: #007bff;
   }
  .movie-title{
    font-size: 1.125rem;
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 55px;
    margin-bottom: 0
  }
  p{
    margin-bottom: 0;
  }
  .subtitle-text{
    font-weight: 700;
  }
  .movie-overview{
    display: -webkit-box;
    -webkit-line-clamp: 6; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .image-style{
    width: 100%;
    aspect-ratio: 16 / 9; 
    transition: transform 0.3s ease-in-out; 
   }
   .app-movie-card:hover .image-style {
    width: 100%;
    transform: scale(1.1); 

  }