<div class="card app-movie-card gap-2" (click)="navigateToMovieDetails()">
  <div style="overflow: hidden">
    <img
      [src]="
        movie?.imageUrl
          ? movie?.imageUrl
          : 'https://dnm.nflximg.net/api/v6/2DuQlx0fM4wd1nzqm5BFBi6ILa8/AAAAQRC29H19twWKcTZ9Zpg4biJbGNaHF2GGIYNcLt4eZ6fvwugUJbuKxTjjMFPCS-y5P3ZePL57rupDtSkyUIJhv3P8leMJGMzszuG2CHNd65NwWPu5LeKxQkRNfNMHmxAwt7tmQZFk1VIrBd1aXr2AR5DM.jpg?r=5b1'
      "
      alt="Movie Backdrop"
      class="image-style"
    />
  </div>

  <p class="movie-title">{{ movie.title }}</p>
  <div class="d-flex flex-row justify-content-between">
    <div>
      <p class="subtitle-text">Release date:</p>
      <p class="movie-date">{{ movie.releaseDate }}</p>
    </div>
    <div class="d-flex flex-column align-items-end">
      <p class="subtitle-text">Popularity:</p>
      <p class="movie-date">{{ movie.popularity }}</p>
    </div>
  </div>
  <div class="mt-2">
    <p class="subtitle-text">overview:</p>
    <p class="movie-overview">{{ movie.overview }}</p>
  </div>
</div>
